.about-intro{
  .intro-content{

  }
}
.about-me{
  margin-top: 60px;
  margin-bottom: 60px;
  border-top: 1px solid #DFE3EA;
  border-bottom: 1px solid #DFE3EA;
  padding-top: 60px;
  padding-bottom: 60px;
  .about-right{
    .about-content{
      background-color: #DFE3EA;
      padding: 50px 50px;
    }
  }
}
.what-we-do{
  padding-bottom: 60px;
  border-bottom: 1px solid #DFE3EA;
}
.about-blog{
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #DFE3EA;

}
.blog-mission{
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #DFE3EA;
}
