.about-banner{
  padding-bottom: 60px;
  border-bottom: 1px solid #DFE3EA;
}

.about-intro{
  padding-top: 60px;
  .intro-decor{
    right: 45%;
  }
  .intro-inner{
    padding-top: 60px;
    .intro-content{

    }
  }
}
.about-me{
  margin-top: 60px;
  margin-bottom: 60px;
  border-top: 1px solid #DFE3EA;
  border-bottom: 1px solid #DFE3EA;
  padding-top: 60px;
  padding-bottom: 60px;
  .about-right{
    .about-content{
      background-color: #DFE3EA;
      padding: 50px 50px;
    }
  }
}
.what-we-do{
  padding-bottom: 60px;
  border-bottom: 1px solid #DFE3EA;
  .we-do{
    border: 1px solid #DFE3EA;
    padding: 24px;
  }
}
.about-blog{
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #DFE3EA;

}
.blog-mission{
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #DFE3EA;
}
.contact-me{
  background-color: #DFE3EA;
  padding: 100px;
  .contact-me-inner{
    background-color: #fff;
    padding: 60px;
  }
}
.subscribe-blog{
  padding-top: 60px;
  .email-signup{
    border: 1px solid #DFE3EA;
    input{
      padding: 8px 4px;
    }
  }
}
