.sidebar{
  .article-recently{
    border: 1px solid #ccc;
    padding: 20px;
  }
  .welcome-content{
    border: 1px solid #ccc;
    padding: 20px;
  }
}
.share-on-social{
  border: 1px solid #ccc;
  padding: 20px;
}