.article-sidebar{
  .sidebar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    .article-recently{
      border: 1px solid #ccc;
      padding: 20px;
    }
    .welcome-content{
      border: 1px solid #ccc;
      padding: 20px;
    }
    .share-on-social{
      border: 1px solid #ccc;
      padding: 20px;
    }
  }
}
.main-article{
  padding-bottom: 60px;
  border-bottom: 1px solid #DFE3EA;
}
.comment{
  .comment-main{
    padding: 24px 0;
  }
  .comment-border{
    border-bottom: 1px solid #DFE3EA;
  }
  .cmt-select{
    border: 1px solid #DFE3EA;
    padding: 8px 8px;
  }
}