.article-sidebar{
  .sidebar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    .article-recently{
      border: 1px solid #ccc;
      padding: 20px;
    }
    .welcome-content{
      border: 1px solid #ccc;
      padding: 20px;
    }
    .share-on-social{
      border: 1px solid #ccc;
      padding: 20px;
    }
  }
}
.comment{

}