.destination-banner{
  .destination-content{
    top: 25%;
    right: 30%;
    .des-count{
      border-right: 1px solid #fff;
    }
    .show-all-btn{
      margin-top: 150px;
    }
  }
}
.destination-title{
  padding: 20px 0;
  border-bottom: 1px solid #DFE3EA;
  border-top: 1px solid #DFE3EA;
}