.recently-update{
  padding-top: 100px;
}
.article-info{
  border-bottom: 1px solid #DFE3EA;
}
.category-destination{
  padding-top: 100px;
  .h-popular-des-ct{
    overflow: hidden;
    .category-des-content{
      top: 45%;
      right: 25%;
      .article-count{
        border-right: 1px solid #fff;
      }
    }
    img{
      transition: transform .25s ease;
    }
  }
  .h-popular-des-ct:hover{
    .des-ct-img img{
      transform: scale(1.05);
    }
  }
}
.home-contact-me{
  position: relative;
  height: 430px;
  //padding: 140px 40px;
  background-color: #DFE3EA;
  .contact-inner{
    position: absolute;
    top: 45%;
    left: 60px;
    display: inline-block;
    padding: 40px 40px;
    background-color: #fff;
  }
}